body {
    /* background-color: #42c463; */
}

.container {
    padding-top: 5vw;
}
.my-carousel {
    border-radius: 20px;
}
.my-carousel {
    /* border: 5px solid tomato;
    border-radius: 20px; */
    box-shadow: rgba(214, 119, 41, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px, 
     rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px,
       rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.games-image {

    border-radius: 16px;
}
.computer-carousel {
    border: 5px solid #1e2d4b;
    border-radius: 20px;
}
.text {
    font-size: 20px;
}
.text-2 {
    margin-top: 120px;
    font-size: 20px;
}
.text-3 {

    font-size: 23px;
}